<% breadcrumb :bookmarks %>
<p id="notice"><%= notice %></p>

<h1>Bookmarks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.medium.title, medium_path(bookmark.medium) %></td>
        <td><%= link_to 'Destroy', bookmark, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
