<p class="text-primary mb-0"><%= comment.user.username %></p>
<p><%= comment.body %></p>

<p>
  <%= link_to 'Destroy Comment', [comment.medium, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
