<%= form_for([@medium, @medium.comments.build]) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'form-control' %>
  </p>
  <p>
    <%= f.submit 'Send', :class => 'btn btn-primary' %>
  </p>
<% end %>
