<% breadcrumb :users %>
<h2>Users</<h2>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
