<%= form_for @medium, :url => url_for(:controller => 'media', :action => 'create') do |f| %>
  <div class="actions">
    <h2>Add info</h2>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title, class:'form-control' %>
    </p>
    <%= f.submit %>
  </div>
<% end %>
