<% breadcrumb :media %>

<h1>Media</h1>
<%= search_form_for @q do |f| %>

  <%= f.label :Title %>
  <%= f.search_field :title_cont %>

  <%= f.label :Uploader %>
  <%= f.search_field :torrents_user_id_cont %>

  <%= f.submit 'Search', :class => 'btn btn-primary' %>
<% end %>
<table class="table">
  <tr>
    <th><%= sort_link(@q, :title) %></th>
    <th><%= sort_link(@q, :body) %></th>
  </tr>

  <% @media.each do |medium| %>
    <tr class="table-info">
      <td><%= link_to medium.title, medium_path(medium) %></td>
      <td><%= medium.body %></td>
    </tr>
    <tr>
      <td colspan="2"><%= render medium.torrents %></td>
    </tr>
  <% end %>
</table>
<%= paginate @media %>
