<% breadcrumb :medium, @medium %>
<%= flash_messages %>
<div class="d-flex justify-content-center mb-3">
  <div class="p-2">
    <%= bookmark_link(@bookmark) %>
  </div>
</div>
<div class="row mb-2">
  <div class="col-4">
    <!-- <img src="<%= @medium.poster %>"/> -->
  </div>

  <div class="col">
    <h2><%= @medium.title %></h2>
    <p>
      <%= @medium.body %>
    </p>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <h3>torrents</h3>
    <table>
      <tbody>
        <% @medium.torrents.each do |torrent| %>
            <tr>
              <td><%= torrent.body %></td>
              <td><%= torrent.user.username %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <h3>Comments</h3>
    <%= render @medium.comments %>

    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= link_to 'Edit', edit_medium_path(@medium) %> |
    <%= link_to 'Back', media_path %>
  </div>
</div>
