<%= form_for @torrent do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, class:'form-control' %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, class:'form-control' %>
  </p>

  <p>
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
  </p>

  <% if local_assigns[:delete] %>
    <p>
      <%= link_to 'Delete', @torrent,
                   method: :delete,
                   data: { confirm: 'Are you sure?' },
                   :class => 'btn btn-danger' %>
    </p>
  <% end %>
<% end %>
