<h1>Torrents</h1>
<table class="table">
  <tr>
    <th><%= sort_link(@q, :title) %></th>
    <th><%= sort_link(@q, :body) %></th>
  </tr>

  <% @torrents.each do |torrent| %>
    <tr>
      <td><%= torrent.title %></td>
      <td><%= torrent.body %></td>
      <td><%= link_to 'Show', torrent_path(torrent) %></td>
    </tr>
  <% end %>
</table>
<%= paginate @torrents %>
