<p>
  <strong>Title:</strong>
  <%= @torrent.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @torrent.body %>
</p>

<%= @torrent.medium_id %>


<%= link_to 'Edit', edit_torrent_path(@torrent) %> |
<%= link_to 'Back', torrents_path %>
