<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-3">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Tracker</a>

  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav mr-3">
      <%= link_to_in_li 'Media', main_app.media_path %>
      <%= link_to_in_li 'Forum', main_app.thredded_path %>
      <%= link_to_in_li 'Upload', main_app.new_torrent_path %>
      <%= link_to_in_li 'Bookmark', main_app.bookmarks_path %>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if signed_in? %>
            <%= current_user.username %>
            <% else %>
            Account
          <% end %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if signed_in? %>
            <%= link_to 'My account', main_app.user_path(current_user), class: 'dropdown-item' %>
            <%= link_to 'Sign out', main_app.sign_out_path, method: :delete, class: 'dropdown-item' %>
          <% else %>
            <%= link_to 'Sign in', main_app.sign_in_path, class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
