<!DOCTYPE html>
<html>
  <head>
    <title>Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if signed_in? %>
      <%= render "layouts/navbar" %>
    <% end %>
    <div class="container mt-1">
      <%= breadcrumbs separator: ' &rsaquo; ' %>

      <%= yield %>
    </div>
  </body>
</html>
